upstream syncthing_upstream {
  server 127.0.0.1:8080;
}

server {
  listen {{syncthing_public_port}};
  client_max_body_size 20m;
  types_hash_max_size 2048;

  if ($host ~* ^www\.(.*))
  {
    set $host_without_www $1;
    rewrite ^/(.*)$ $scheme://$host_without_www/$1 permanent;
  }

  # Look for and serve if exists
  # 1) maintenance file
  # 2) the cached file
  # else continue to @syncthing
  try_files /system/maintenance.html $uri /cache/$host/$uri.html @syncthing;

  location @syncthing {
    proxy_pass http://syncthing_upstream;
    proxy_set_header Host $host;
  }

  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root html;
  }
}

